<div class="iconsNavegation">

  <div class="logoNavegation">
    <figure class="logoContainer">
      <img src="/src/assets/img/logo.png" class="logoContainer__logo">
    </figure>
  </div>

  <div class="icons">
    <a href="#" class="bx bx-window-open icons--links"></a>
    <a href="#" class="bx bx-cube-alt icons--links"></a>
    <a href="#" class="bx bx-check-square icons--links"></a>
    <a href="#" class="bx bxs-check-shield icons--links"></a>
    <a href="#" class="bx bx-bookmark icons--links"></a>
  </div>

  <div class="otherThinks">
    <p>...</p>
  </div>

</div>