<div>
    <h3>EverDo - MVP</h3>
    <h1>Design</h1>

    <div class="menu">
        <ul>
            <a href="#">Todos</a>
            <a href="#">Notes</a>
            <a href="#">Links</a>
            <a href="#">Files</a>
        </ul> 
        <span class="linear"></span>       
    </div>

    <div class="projects">
        <h4><input type="checkbox" class="check"></i>Project page</h4>
        <h4><input type="checkbox" class="check"></i>Today page</h4>
    </div>

    <div class="productPlaning">
        <h2>Product Planing</h2>
    </div>

    <div class="projects2">
        <h4><input type="checkbox" class="check"></i>Decide how to organize Today page</h4>
        <h4><input type="checkbox" class="check"></i>Create wirefra,es for the Today page</h4>
        <h4><input type="checkbox" class="check"></i>Decide whether to group items by type</h4>
    </div>

    <div class="design">
        <h2>Design</h2>
    </div>

    <div class="projects3">
        <h4><input type="radio" class="check">One</h4>
        <h4><input type="radio" class="check">One</h4>
        <h4><input type="radio" class="check">One</h4>
    </div>

    
</div>