<div>
   
    <div class="taskList">

        <ul>
            <li><input type="checkbox" class="check"></i>PROJECTS</li>
            <li>EverDo</li>
            <li>Genmsmark</li>
            <li>Rubicon</li>
        </ul>

        <ul>
            <li><input type="checkbox" class="check"></i>PERSONAL</li>
            <li>Shopping</li>
            <li>Health</li>
            <li>Entertainment</li>
        </ul>

        <ul>
            <li><input type="checkbox" class="check"></i>LEARNING</li>
            <li>Electron</li>
            <li>Flexbox</li>
        </ul>

        <div class="btnTask">
            <i href="#" class='bx bxs-plus-circle'></i>
        </div>

    </div>

       

</div>